<!DOCTYPE html>
<html lang="en" class="h-full bg-green-50">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
<style>
    .event{
    background-color: rgba(27, 211, 27, 0.11) ;
    color: white;
    padding-left:10px ;
    
}
.event:hover{
    background-color: rgba(64, 235, 64, 0.217) ;
    color: white;
}
</style>
</head>
<body class="h-full">
    <div class="flex h-screen bg-green-50">
     <%- include('deshbordsidebar') %>
        </div>
        <div class="ml-64 p-8 w-full">
            <h1 class="text-3xl font-bold text-green-800 mb-4">Add Event</h1>
            <form action="/admin/add-event" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="title">
                        Title:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" name="title" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="des">
                        Description:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="des" type="text" name="des" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="date">
                        Date:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="date" type="date" name="date">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="agenda1">
                        Agenda 1:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="agenda1" type="text" name="agenda1">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="agenda2">
                        Agenda 2:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="agenda2" type="text" name="agenda2">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="agenda3">
                        Agenda 3:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="agenda3" type="text" name="agenda3">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="agenda4">
                        Agenda 4:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="agenda4" type="text" name="agenda4">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="agenda5">
                        Agenda 5:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="agenda5" type="text" name="agenda5">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="loc">
                        Location:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="loc" type="text" name="loc">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="spname">
                        Speaker Name:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="spname" type="text" name="spname">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="spdes">
                        Speaker Description:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="spdes" type="text" name="spdes">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="spimg">
                        Speaker Image:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="spimg" type="url" name="spimg">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="spname2">
                        Speaker Name 2:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="spname2" type="text" name="spname2">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="spdes2">
                        Speaker Description 2:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="spdes2" type="text" name="spdes2">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="spimg2">
                        Speaker Image 2:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="spimg2" type="url" name="spimg2">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2" for="mainimg">
                        Main Image:
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="mainimg" type="url" name="mainimg">
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Add Data
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sidebarLinks = document.querySelectorAll('.sidebar-link');
            const currentURL = window.location.pathname;
    
            sidebarLinks.forEach(link => {
                if (link.href.includes(currentURL)) {
                    link.classList.add('active');
                }
            });
        });
    </script>
    
</body>
</html>
