<div class="bg-green-800 text-green-100 flex flex-col justify-between shadow-lg h-screen w-64 fixed">
    <div class="px-4 py-6">
        <span class="font-bold text-lg tracking-wider">Admin Panel
    </div>
    <nav class="px-4 flex flex-col h-full">
        <a href="/admin" class="py-4 hover:bg-green-700 rounded-lg transition-colors">Dashboard</a>
        <a href="/admin/admin-blog" class="py-4 hover:bg-green-700 rounded-lg transition-colors blog">Manage Blog</a>
        <a href="/admin/admin-events" class="py-4 hover:bg-green-700 rounded-lg transition-colors event">Manage Events</a>
        <a href="/admin/admin-items" class="py-4 hover:bg-green-700 rounded-lg transition-colors item">Manage Items</a>
    </nav>
    <div class="px-4 py-6">
        <a href="#" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition-colors">Logout</a>
    </div>